* { box-sizing: border-box; }
@keyframes pisca {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
    margin-bottom: 30px;
}
.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}
.teclado {
    background-color: #403a3a;
    margin-left: 30px;
}

.teclado-linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.teclado-botao {
    width: 70px;
    height: 40px;
    background-color: #000000;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0 #555;
    text-transform: uppercase;
}

.btn-branco {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.btn-corrige {
    background-color: #f09046;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}
.btn-confirma {
    background-color: #48c079;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    width: 90px;
    /* height: 40px; */
}

.d-1 {
    flex: 1;
    display: flex;
    padding-left: 30px;
}
.d-1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.d-1-1 {
    height: 50px;
    /* background-color: #ff0000; */
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.d-1-2 {
    height: 50px;
    /* background-color: #00ff00; */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-1-3 {
    height: 60px;
    /* background-color: #0000ff; */
}
.numero {
    display: inline-block;
    width: 40px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    line-height: 53px;
    font-size: 25px;
    float: left;
}
.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.d-1-4 {
    flex: 1;
    line-height: 30px;
    /* background-color: pink; */
}

.d-1-right {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image {
    border: 1px solid #000;
    background-color: #ffffff;
    text-align: center;
}
.d-1-image.small {
    width: 90%;
    font-size: 12px;
}
.d-1-image img {
    width: 100%;
}
.d-2 {
    height: 60px;
    border-top: 2px solid #555;
    padding-left: 30px;
}
.aviso-grande {
    font-size: 37px;
    font-weight: bold;
}
.aviso-gigante {
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.candidatos {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #555555;
    padding: 10px;
}
.candidato {
    background-color: #cccccc;
    display: flex;
    width: 33%;
    padding: 15px;
    border: 10px solid #ddd;
}
.candidato .foto {
    max-width: 152px;
    text-align: center;
}
.candidato .foto .img-legenda {
    padding: 10px;
    width: 120px;
    flex: 1;
}
.candidato .foto .img-legenda:first-child {
    padding: 0px;
}
.candidato .foto .img-legenda img {
    max-width: 100%;
}
.candidato .informacoes {
    padding: 5px;
    line-height: 150%;
}
.candidato .cargo {
    font-weight: bold;
    font-size: 15px;
    background-color: #fff;
}
.dn {
    display: none; 
}
.recomecar {
    display: flex;
    justify-content: center;
}
.btn-recomecar {
    background-color: #48c079;
    border: 1px solid #000;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    /* width: 90px; */
    padding: 15px;
    margin-bottom: 30px;
}